.layout {
  min-height: 100vh;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.bg{
  background-color: #f4f5fa;
  /* margin: 40px; */
  padding: 30px;
}
.box{
  margin: 10px;
  border-radius: 15px;
}
.box1{
  background-color: #faebe8;
  padding: 80px;
 
}
.box2{
  background-color: #ffffff;
  padding: 160px 0;
}
.mt-1{
  margin-top: 35px;
}
.box3{
  padding: 40px 0;
}
.box31{
    background-color: #464799;

}
.box32{
    background-color: #a2a2ea;

}
.box33{
    background-color: #ff6b89;

}